<!-- POST /armoredcars/1/bookings -->
<div class="container">
  <div class="banner-content text-center">
    <p class="booking-title">Book an armored car</p>
    <hr>
    <%= simple_form_for [@armored_car, @booking] do |form| %>
    <%= form.input :starts_on, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= form.input :ends_on, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= form.button :submit, class: "btn-primary" %> <% end %>
  </div>
</div>
