<!-- Footer -->
<footer class="page-footer font-small stylish-color-ac pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Armored Cars stay safe</h5>
                <p>Let us all take responsibility for freeing our communities of crime and violence. Let us not rob ourselves of the freedom which we have so recently won by allowing these evils to continue.
                   Every community in any country has a fundamental right to be free from fear. Each and every human being has the right to feel secure in their home, to feel safe in the cities, towns and rural areas. People should not fear the night. They must be able to travel to work, to school and other places without danger.
                   But these rights are being denied to many by criminals who do not hesitate to use violence to achieve their goals.
                   However, we say to you all: Do not despair. Together we can root out crime from our communities.
                </p>

            </div>



        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
            <%= link_to "Sign up!", new_user_registration_path, class: "btn btn-danger btn-rounded" %>
        </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
                <i class="fab fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
                <i class="fab fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
                <i class="fab fa-google-plus-g"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
                <i class="fab fa-linkedin-in"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
                <i class="fab fa-dribbble"> </i>
            </a>
        </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Rbnb.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
