<div class="banner">
  <div class="banner-content text-center">
    <h1>Protect your life: book an armored car!</h1>
    <p>Armored Car provides your safety to protect people</p>
    <%= link_to "Book now", armored_cars_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>