<h1>Rent Your Armored Car</h1>
<br>
<div class="col-md-12">
  <!--Image-->
  <div class="view overlay z-depth-1-half">
    <%= link_to 'avaliable cars', armored_cars_path, class: "btn btn-info waves-effect waves-light" %>
    <%= link_to 'put your car to rent', new_armored_car_path, class:"btn btn-info waves-effect waves-light" %><br><br>


  </div>
</div>
<br>